.git/
.vs/
.idea/
.vscode/
NotificationService/.vs/
NotificationService/.idea/
NotificationService/.vscode/
NotificationService/bin/
NotificationService/obj/
NotificationService/x64/
NotificationService/x86/
NotificationService/Debug/
NotificationService/Release/
NotificationService/packages/
NotificationServiceExample/.vs/
NotificationServiceExample/.idea/
NotificationServiceExample/.vscode/
NotificationServiceExample/bin/
NotificationServiceExample/obj/
NotificationServiceExample/x64/
NotificationServiceExample/x86/
NotificationServiceExample/Debug/
NotificationServiceExample/Release/
NotificationServiceExample/packages/
*.user
*.suo